<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Observação: Adicione entradas ao arquivo App.config para obter as definições de configuração
    que se aplicam apenas ao projeto de Teste.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
